.navbar-container{
    background-color:rgb(168, 168, 231);
    text-decoration: none;
    display:flex;
    flex-direction: row;
}

ul li{
    list-style: none;
}

li {
    display: inline;
    padding: 0 5%;
    
}

.logo {
    padding-top: 15px;
}



