


.profileUp {
    display: flex;
    flex-flow: column wrap;
    padding: 0 40px;
    animation: fadeIn;
    animation-duration: 1s;
    text-align: left;

}

.left h2 {
    margin-bottom :30px;
}

.profileUp input {
    padding:15px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    
    
  }

.profileUp button {
    padding:20px;
    margin: 20px 0;
    border-radius: 50px;
    border: 2px solid grey;
    color: white;
    background-color: #ff206e;
    border:none;
    font-family: 'Montserrat', sans-serif;


}