*, *:before, *:after {
    box-sizing: border-box;
  }

 

.register {
    display: flex;
    flex-flow: column wrap;
    padding: 50px;

}

.register h1 {
    margin-bottom :50px;
}

.register input {
    padding:15px;
    margin: 20px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    
    
  }

.register button {
    padding:20px;
    margin: 20px;
    border-radius: 50px;
    border: 1px solid grey;
    color: white;
    background-color: #ff206e;
    border:none;
    font-family: 'Montserrat', sans-serif;


}


.error {
    text-align: center;
}



.sright {
    background-image: url("/bgright.jpg");
    background-repeat: no-repeat;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}


.logo {
    max-height: 150px;
    margin-bottom:25px;
    animation: fadeInLeft;
    animation-duration: 1s;

}


.description {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    width:70%;
    color:white;
}

.description h1{
    font-size: 36pt;
    margin:5px 0px;
}
.description h1{
    font-size: 36pt;
    margin:10px 0px;
}